<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Read Medium easily!</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">

</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Mediume</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <!--<li><a href="#">Features</a></li>-->
                            <!--<li><a href="#">Contact</a></li>-->
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Read Medium easily!</h1>
                <p class="lead">Read articles on <a href="https://medium.com/">medium.com</a> for free!
                    <br/>
                    You can get rid of the annoying access limit on premium articles.
                </p>

                <form>
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="Enter article address...">
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-primary" type="button">Show it!</button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Presented by <a href="https://github.com/nettee">@nettee</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
